<applet code=games.Battle.client.EuropaClient.EuropaClient.class 
		width=100 height=50>
</applet>
<applet code=games.Battle.client.EuropaClient.EuropaClient.class 
		width=100 height=50>
</applet>
